.wehave{
	padding-top: 62px;
	padding-bottom: 86px;
	background: #fff;
	text-align: center;
	@media(min-width:768px){
		padding-top: 125px;
		padding-bottom: 172px;
	}
	h2{
		font-weight: 600;
		font-size: 26px;
		line-height: 150%;
		color: #000000;
		margin-bottom: 43px;
		@media(min-width:768px){
			margin-bottom: 87px;
			font-size: 40px;
		}
	}
	p{
		font-size: 14px;
		line-height: 200%;
		color: #000000;
		margin-bottom: 38px;
		@media(min-width:768px){
			margin-bottom: 77px;
			font-size: 18px;
		}
	}
}